/* fichier.css */
body {
    background-color: #FAFAFA;
    color: #212121;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #212121;
}

h1 {
    color: #c9a8a8;
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

a.bouton-nav {
    border: 2px solid #212121;
    background-color: #FFFFFF;
    color: #E63946;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

a.bouton-nav:hover {
    background-color: #E63946;
    color: #FFFFFF;
}

#contenu-principal {
    margin: 20px;
    text-align: center;
}

.recherche {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #212121;
    background-color: #FFFFFF;
    display: inline-block;
}

.plats-vedettes {
    text-align: left;
    display: inline-block;
}

.plats-vedettes ul {
    list-style-type: square;
}
