/* Styles globaux (Toutes les pages)*/

   body {
    background-color: #FAFAFA;
    color: #212121;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #c9a8a8;
    font-weight: bold;
}

/* En-tête et logo */
header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #212121;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

/* Menu de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 10px;
}

/* Boutons standards (Navigation et Formulaires) */
a.bouton-nav, input[type="submit"] {
    display: inline-block;
    background-color: #FFFFFF;
    color: #E63946;
    border: 2px solid #212121;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
}

a.bouton-nav:hover, input[type="submit"]:hover {
    background-color: #E63946;
    color: #FFFFFF;
    border-color: #E63946;
    cursor: pointer;
}

/* Page d'acceuil (acceuil.html) */

#contenu-principal {
    margin: 20px;
    text-align: center;
}

.recherche {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #212121;
    background-color: #FFFFFF;
    display: inline-block;
}

.plats-vedettes {
    text-align: left;
    display: inline-block;
}

.plats-vedettes ul {
    list-style-type: square;
}

/* Page produits (produits.html)*/

#contenu-produits {
    display: grid;
    grid-template-columns: 250px auto;
    margin: 30px;
}

/* Barre latérale gauche (filtres) */
#filtres {
    background-color: #FFFFFF;
    border: 1px solid #c9a8a8;
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
}

#filtres p {
    font-weight: bold;
    border-bottom: 1px dashed #c9a8a8;
    padding-bottom: 5px;
}

/* Zone droite (grille des plats) */
#liste-plats {
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

/* Design d'une carte produit */
.plat {
    background-color: #FFFFFF;
    border: 1px solid #c9a8a8;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.plat:hover {
    border: 2px solid #E63946; 
}

.plat img {
    border-radius: 10px;
}

.plat h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #212121;
}

.plat p {
    color: #E63946;
    font-weight: bold;
    font-size: 1.1em;
}

/* --- 5. GRILLE DES PLATS --- */
#liste-plats {
    display: grid;
    grid-template-columns: 250px 250px 250px; /* 3 colonnes fixes de produits */
}

/* La carte produit (Le secret d'un bon design = les marges) */
.plat {
    background-color: #FFFFFF;
    border: 1px solid #c9a8a8;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* Effet interactif autorisé par le cours (p.27) */
.plat:hover {
    border: 2px solid #E63946; 
}

.plat img {
    border-radius: 10px;
}

.plat h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #212121;
}

.plat p {
    color: #E63946;
    font-weight: bold;
    font-size: 1.1em;
}
